<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cheer.teamwork.category.mapper.CategoryMapper">
    <select id="getCategory" resultType="Category">
        select * from category where categoryno = #{categoryNo}
    </select>

    <select id="getList" resultType="Category">
        select * from category
    </select>

    <insert id="insert">
    INSERT INTO category
    VALUES(#{categoryNo},#{categoryName})
    </insert>

    <delete id="delete">
    delete from category where categoryno = #{categoryNo}
    </delete>

    <update id="update">
    UPDATE category
    SET categoryname = #{categoryName}
    WHERE
        categoryno = #{categoryNo}
    </update>
</mapper>